.header {
    background: #fff;
    border-bottom: 1px solid #c6c6c6;
    margin: 0 0 40px;
    text-align: center;
    font-size: 62px;

    a {
        color: #185aa6;
    }

    .brand i {
        font-size: 82px;
        color: #185aa6;
    }
}